<main>
  <div class="container">
    <form class="product-form" action="/admin/product" method="post">
      <div class="form-group">
        <label for="title">Product title</label>
        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Product title"
        />
      </div>

      <button class="btn" type="submit">Add</button>
    </form>
  </div>
</main>